In [45]:
import pandas as pd
import gzip
from tqdm import tqdm

# from assignment2 import *

In [2]:
fpath = "../data/beeradvocate.json.gz"

def readGz(path):
    for l in gzip.open(path, 'rt', encoding="utf-8"):
        yield eval(l)

data = []
for l in tqdm(readGz(fpath)):
    data.append(l)

0it [00:00, ?it/s]

1586615it [04:29, 5881.09it/s]

In [31]:
df = pd.DataFrame(data)
df.columns

Index(['beer/name', 'beer/beerId', 'beer/brewerId', 'beer/ABV', 'beer/style',
       'review/appearance', 'review/aroma', 'review/palate', 'review/taste',
       'review/overall', 'review/time', 'review/profileName', 'review/text'],
      dtype='object')

{'review/appearance': 2.5, 'beer/style': 'Hefeweizen', 'review/palate': 1.5, 'review/taste': 1.5, 'beer/name': 'Sausa Weizen', 'review/timeUnix': 1234817823, 'beer/ABV': 5.0, 'beer/beerId': '47986', 'beer/brewerId': '10325', 'review/timeStruct': {'isdst': 0, 'mday': 16, 'hour': 20, 'min': 57, 'sec': 3, 'mon': 2, 'year': 2009, 'yday': 47, 'wday': 0}, 'review/overall': 1.5, 'review/text': 'A lot of foam. But a lot.\tIn the smell some banana, and then lactic and tart. Not a good start.\tQuite dark orange in color, with a lively carbonation (now visible, under the foam).\tAgain tending to lactic sourness.\tSame for the taste. With some yeast and banana.', 'user/profileName': 'stcules', 'review/aroma': 2.0}

In [24]:
# convert rating and ABV columns to float
for col in ['beer/ABV', 'review/appearance', 'review/aroma', 'review/palate', 'review/taste', 'review/overall']:
    df[col] = pd.to_numeric(df[col], downcast="float", errors="ignore")

In [30]:
df.describe().map('{:,.1f}'.format)

,beer/ABV,review/appearance,review/aroma,review/palate,review/taste,review/overall
count,"1,518,829.0","1,586,614.0","1,586,614.0","1,586,614.0","1,586,614.0","1,586,614.0"
mean,7.0,3.8,3.7,3.7,3.8,3.8
std,2.3,0.6,0.7,0.7,0.7,0.7
min,0.0,0.0,1.0,1.0,1.0,0.0
25%,5.2,3.5,3.5,3.5,3.5,3.5
50%,6.5,4.0,4.0,4.0,4.0,4.0
75%,8.5,4.0,4.0,4.0,4.5,4.5
max,57.7,5.0,5.0,5.0,5.0,5.0

In [ ]:
# print number of NaN values in each column
for col in df.columns:
    n = df[col].isna().sum()
    print(f"NaN count for {col}: {n}")

# drop rows with NaN values
df = df.dropna(axis=0)